.apps {
  padding: var(--padding-sm) 0;
}

.cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Card {
  display: grid;
  justify-items: center;
  gap: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 30px -7px grey;
  border-radius: 1rem;
  padding: 2rem;
}

.CardImg {
  background-color: #afd8c220;
  border-radius: 1rem;
  padding: 2rem 2.25rem 1.5rem;
  position: relative;
  display: grid;
  place-items: center;
}

.CardIcon {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background-color: #afd8c250;
  padding: 0.5rem;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.qrCode {
  width: min(36vw, 150px);
  height: auto;
}

.Stores {
  display: block;
}

.storeImage {
  width: min(90vw, 320px);
  height: auto;
}

.title {
  font-size: 12px;
  margin-top: 20px;
  color: #555555;
}

.angles {
  width: 25vw;
  min-width: 150px;
  margin-right: auto;
  margin-top: 20px;
}

@media screen and (min-width: 980px) {
  .cards {
    gap: 120px;
  }

  .CardImg {
    padding: 2rem 2.75rem 1.5rem;
  }
}
