.Treatment {
  background-image: url(./../../assets/imgs/sections/Treatment/wave-water-mark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--padding-sm) 0;
}

.content {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 3%;
  grid-template-columns: 37% 60%;
}
