.FirstBlogsCard {
  background-color: #eff7f3;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

.imgBox {
  width: 50%;
  display: flex;
  max-height: 330px;
}

.img {
  /*
    note:
    border-radius is 10px in xd
  */
  border-radius: 0 12px 12px 0;
}

.content {
  padding: 32px 48px;
  width: 50%;
  display: grid;
  gap: 24px;
}

.label {
  color: #7ec287;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 32px;
}

.description {
  height: 70px;
  overflow: hidden;
}

.views,
.minutesToRead {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1200px) {
  .FirstBlogsCard {
    display: grid;
    padding: 16px;
  }

  .imgBox {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    padding: 0;
  }
}
