.articleCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 262px;
}

.articleImage {
  border-radius: 12px;
}

.articleContent {
  display: grid;
  gap: 20px;
}

.title {
  font-size: 1.17em;
}

.views {
  display: flex;
  align-items: center;
  gap: 10px;
}
